<h1>This page is for editing action</h1>

<a href="/profile">Go to my profile</a>
<br />
<br />

{{#with action}}

<form action="/actions/edit/{{actionId}}/update" method="POST">

  <input name="action" value="{{action}}">
  <input type="date" name="actionEndDate" value={{actionEndDate}}>
  <label for="">Status</label>
  <select name="status" id="status">
    <option value="{{currentStatus}}" selected>{{currentStatus}}</option>
    {{#each statusList}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  <button type="submit">Make Changes</button>

</form>
{{/with}}