<h1> welcome {{user.name}} to the edit page of {{obj.problem}}</h1>

<a href="/profile">Go to my profile</a>

<br />
<br />
{{#with obj}}


<form method="POST" action="/objective/edit">

  <br>
  <label>Problem</label>
  <input name="problme" value="{{problem}}">
  <br>
  <label>Status</label>
  <input name="status" value="{{status}}">
  <br>
  <label for="">objectiveEndDate</label>
  <input type=" date" name="date" value={{objectiveEndDate}}>
  <br>
  <label for="">objectiveInput</label>
  <input name="problem" value="{{objectiveInput}}">
  <br>
  <label for="">keyResult</label>
  <input name="keyresult" value="{{keyResult}}">
  <br>
  <label for="">category</label>


  <select name="cateogry" id="category">
    <option value="{{currentObjCategory}}" selected>{{currentObjCategory}}</option>
    {{#each categories}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>

  <button type="submit">Edit your objective</button>
</form>

<br />
<a href="/actions/{{this._id}}">Create the actions you need to achieve your goal!</a>
<br />

{{/with}}