<section class="mainBox">
  <section class="user">

    <section class="nameAndPic">
      {{#with user}}
      <img src="{{profilePic}}" class="picture">

      <section id="usertextButton">


        <p id="name"> {{name}}, how about we smash some goals today?</p>

        {{/with}}
        <section class="userbutton">

          <a href="/profile/edit" class="btn btn-primary">EDIT</a>


        </section>

      </section>
    </section>
  </section>


  <section class="addobjectiveBox">
    <a href="/objectives" class="goalButton"> +</a>

  </section>

  {{#each objProperties}}



  <section class="goal">
    <p id="cat"> {{this.category}}</p>
    <p id="prob">Problem: {{this.problem}}</p>
    <p id="obj"> <b> Objective: {{this.objectiveInput}} </b></p>
    <p id="prob"> Result: {{this.keyResult}}</p>


    <section class="dueDateProgress">
      <p id="date">Due Date: {{this.objectiveEndDate}}</p>
      {{#if action}}
      <p id="progress">Progress: {{this.percentage}}</p>
      {{else}}
      <p id="progress">Progress: 0%</p>
      {{/if}}
    </section>

    <section>
      {{#if action}}
      <p id="actionTitle">Action:</p>
      {{else}}
      {{/if}}
    </section>


    {{#each action}}
    <section class="actionList">
      <p id="actiondescription"> {{this.action}}</p>


      <section class="actionButton">
        <p> {{this.status}}</p>
        <a href="/actions/delete/{{this._id}}">Delete</a>
        <a href="/actions/edit/{{this._id}}">Edit</a>
      </section>
    </section>
    {{/each}}
    <section class="addActionButton">
      <a href=" /actions/new-action/{{this._id}}" id="addActionButton">Add Action</a>
    </section>


    <section class="bottunObj">
      <a href="/objectives/delete/{{this._id}}" id="deleteButton">DELETE</a>
      <a href="/objectives/edit/{{this._id}}" class="btn btn-primary">EDIT OBJECTIVE</a>


    </section>

  </section>
  {{/each}}

  <section class="addobjectiveBox">
    <a href="/objectives" class="goalButton"> +</a>

  </section>

</section>