<h1> {{user.name}}</h1>
<a href="/objectives">Create new goal</a>
<br />
<br />
{{#each obj}}
<section style="border: solid 3px; width:600px; color: grey; padding: 10px">
  <h2>Problem: {{this.problem}}</h2>
  <h2>Category: {{this.category}}</h2>
  <h2>Goal: {{this.objectiveInput}}</h2>
  <h2>End Date: {{this.objectiveEndDate}}</h2>
  <h2>Result: {{this.keyResult}}</h2>
  <h2>Result: {{this.action}}</h2>
  <a href="/objectives/delete/{{this._id}}">Delete the Problem</a>
  <br />
  <br />
  <a href="/objectives/edit/{{this._id}}">Edit the Problem</a>
  <br />
  <br />
  <a href="/actions/{{this._id}}">Create the actions you need to achieve your goal!</a>
  <br />
</section>
{{/each}}